{{#if current.isVideo}}
  <iframe {{bind-attr src=current.url}}>
{{else}}
  <img {{bind-attr src=current.url}}>
{{/if}}

<nav>
  <a class="previous" href="#" {{action "previous"}}>previous</a>
  <a class="next" href="#" {{action "next"}}>next</a>
</nav>
