{{#if current.video}}
  <iframe src="{{current.url}}"></iframe>
{{else}}
  <img src="{{current.url}}">
{{/if}}

<nav>
  <a class="previous" href="#" {{action "previous"}}>previous</a>
  <a class="next" href="#" {{action "next"}}>next</a>
</nav>
