<a class="product-link" target="_blank" {{bind-attr href=product.link}}>
  <p class="background-text">store</p>
  <img class="hover-image" {{bind-attr src=product.image}}>
</a>

<a class="instagram-link" target="_blank" {{bind-attr href=instagram.link}}>
  <p class="background-text">instagram</p>
  <img class="hover-image" {{bind-attr src=instagram.image}}>
</a>

{{social-links}}

<img class="brain-logo" src="/images/brain.png" alt="brain">
