<section class="blog">
  <section class="posts">
    {{#each post in posts}}
      <article class="post">
        <h1 class="name">
          {{post.name}}
          {{date post.publishedAt}}
        </h1>

        <p class="body">
          {{{post.body}}}
        </p>
      </article>
    {{/each}}
  </section>

  <a class="product-link" {{bind-attr href=product.link}}target="_blank">
    <p class="background-text">store</p>
    <img class="hover-image" {{bind-attr src=product.image}}>
  </a>

  <a class="instagram-link" target="_blank" {{bind-attr href=instagram.link}}>
    <p class="background-text">instagram</p>
    <img class="hover-image" {{bind-attr src=instagram.image}}>
  </a>

</section>
